# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Compilación y caché
build/

# Android
android/**/.gradle
android/local.properties
android/project.properties
android/Flutter/local.properties
android/app/build.gradle.kts.local

# IDEs (Android Studio / VS Code)
.idea/
*.iml
.vscode/
